.check{
    text-decoration: line-through;
}

li{
    border: 1px solid gray;
    width : 380px;
    list-style-type: none;
    margin: 15px;
    padding : 15px;
    background-color: aliceblue;
}

div{
    font-size:1.5em;
    color: darkgray;
    font-style: italic;
}
